
body {
    background-color: black;
    display: flex;
    justify-content: center;

}

#container {
    height: 850px;
    width: 1200px;
    border: red solid;
    position: relative;
    background-color: black;
    color: black
}

#game-title {
    /* border: red solid; */
    background-color: black;
    color: red;
    font-size: 30px;
    font-family: 'Creepster', cursive;
}

canvas {
    background-color: black;
    /* background-image: url('https://th.bing.com/th/id/R.98474d9f277570630c7f0b7b50412303?rik=hp%2foD8VTgmvD3Q&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2016%2f01%2f15775-space-stars.jpg&ehk=jLpf9TXuHHVTEjoq56oqmlMDDASshwjhRUz%2f7qsS07E%3d&risl=&pid=ImgRaw&r=0'); */
    width: 0%;
    height: 0%;
    /* display: none; */
  }

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#gameboard {
    /* border: red solid; */
    height: 650px;
    width: 1100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0px 47px 1000px 47px;
    background-color: black;
}

#start {
    color: red;
    /* border: red solid; */
    /* display: flex; */
    height: 55px;
    width: 300px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 0 0 47px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

#game-start {
    color: red;
    /* border: red solid; */
    display: flex;
    height: 55px;
    width: 300px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 0 0 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

#score {
    color: red;
    /* border: red solid; */
    display: flex;
    height: 55px;
    width: 100px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 300px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
}

#healthText {
    color: red;
    /* border: red solid; */
    display: flex;
    height: 55px;
    width: 200px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 47px 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
}

#music {
    height: 100px;
    width: 100px;
    background-color: black;
    color: black;
}

.instructions {
    color: white;
    margin: 0;
}

#help {
    font-family: 'Creepster', cursive;
}

#instructionHeader {
    font-family: 'Creepster', cursive;
}

#playerShark {
    display: none;
}

#alienEnemy {
    display: none;
}

#asteroid1 {
    display: none;
}

#restart {
    color: red;
    display: none;
    justify-content: center;
    text-align: center;
}